html,
body {
  background-color: #B0E0E6;
}

hr{
  border-style: dotted none none;
  border-width: 5px;
  border-color: grey;
  width: 5%;
}

#profile-pic {
  width: 200px;
  height: 230px;
  border-radius: 25%;
}

table {
  border-collapse: separate;
  border-spacing: 20px 4px;
}
