html,
body {
  background-color: #EAF6F6;
}

hr{
  border-style: dotted none none;
  border-width: 5px;
  border-color: grey;
  width: 5%;
}

h1 {
  color: #008B8B;
}

h3{
  color: #66BFBF;
}

#profile-pic {
  width: 200px;
  height: 230px;
  border-radius: 25%;
}

table {
  border-collapse: separate;
  border-spacing: 20px 4px;
}
